<div class="row">
    <div class="col-sm-12 text-center">
        <h3 class="mx-4">Login</h3>

        <form>
            <label for="email">Email</label>
            <input type="email" class="input-form" id="email" #email>
            <label for="password">Password</label>
            <input type="password" class="input-form" id="password" #password>

            <button class="btn btn-default">Cancel</button>
            <button class="btn btn-primary" (click)="onLogin(email.value, password.value)">Login</button>
        </form>
    </div>
</div>