<div class="row">
    <div class="col-sm-12 text-center">
            <h3>Search</h3>

            <div class="mx-3">
                <label for="search">Search</label>
                <input type="email" id="search" [(ngModel)]="searchInput" (keypress)="onSearch(search.value)" #search >
               
            </div>

            <div class="text-center">
                <h2>Character List</h2>
        
                <ul>
                    <li *ngFor="let char of user">
                        {{char.name}}
                    </li>
                </ul>
            </div>
    </div>

   

</div>